designs/pages/Authentication/forgot_password.json
[
    {
        "id": "sd_CYkOfz4dcmIdt5HN",
        "type": "tab",
        "createdDate": "2024-08-18T15:20:34.023Z",
        "label": "forgot_password",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_Q2KdWywrGhe8zw0F",
        "type": "OnInit",
        "z": "sd_CYkOfz4dcmIdt5HN",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_Q2KdWywrGhe8zw0F",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_2xPb8e5lbuyZpL5o"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_2xPb8e5lbuyZpL5o",
        "type": "PageVariables",
        "z": "sd_CYkOfz4dcmIdt5HN",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "forgotPassForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            },
            {
                "textIp": "loading",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_2xPb8e5lbuyZpL5o",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_qd0KT6L7RCtk5uIt",
        "type": "PageStart",
        "z": "sd_CYkOfz4dcmIdt5HN",
        "viewType": "pages",
        "nodeType": "start",
        "name": "forgot password",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "forgotPassword",
        "category": "General",
        "x": 40,
        "y": 180,
        "wires": [
            [
                "sd_wDTcAztC1BORrzvS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_wDTcAztC1BORrzvS",
        "type": "Environment",
        "z": "sd_CYkOfz4dcmIdt5HN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_wDTcAztC1BORrzvS",
        "category": "General",
        "x": 145,
        "y": 180,
        "wires": [
            [
                "sd_F2cswVxl5IINt1tL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_F2cswVxl5IINt1tL",
        "type": "Script",
        "z": "sd_CYkOfz4dcmIdt5HN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'forgot-password'\npage.loading = true",
        "functionName": "sd_F2cswVxl5IINt1tL",
        "category": "Function",
        "x": 245,
        "y": 180,
        "wires": [
            [
                "sd_PPUc4pfvpQ1yUhOw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_PPUc4pfvpQ1yUhOw",
        "type": "HttpRequest",
        "z": "sd_CYkOfz4dcmIdt5HN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.form.value",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "input.form.value"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_PPUc4pfvpQ1yUhOw",
        "category": "HTTP",
        "x": 345,
        "y": 180,
        "wires": [
            [
                "sd_iv0DjSy4OdMb078P"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_iv0DjSy4OdMb078P",
        "type": "Script",
        "z": "sd_CYkOfz4dcmIdt5HN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Result\", bh.result.OTP)\npage.loading = false",
        "functionName": "sd_iv0DjSy4OdMb078P",
        "category": "Function",
        "x": 445,
        "y": 180,
        "wires": [
            [
                "sd_nCQTEX5HqE8Oa6g5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_00lFbMVZ7E4x2qZw",
        "type": "PageSwitch",
        "z": "sd_CYkOfz4dcmIdt5HN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "bh",
        "propertyGv": "bh.result.message",
        "rules": [
            {
                "t": "eq",
                "v": "User doesn't exist",
                "vt": "str",
                "gv": "\"User doesn't exist\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_00lFbMVZ7E4x2qZw",
        "category": "Function",
        "x": 625,
        "y": 180,
        "wires": [
            [
                "sd_5fpxQgxyErmiHZlT"
            ],
            [
                "sd_PmcIjYEu7LUVOXzl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_5fpxQgxyErmiHZlT",
        "type": "SnackBar",
        "z": "sd_CYkOfz4dcmIdt5HN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "User don't exist"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_5fpxQgxyErmiHZlT",
        "category": "General",
        "x": 705,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_PmcIjYEu7LUVOXzl",
        "type": "SnackBar",
        "z": "sd_CYkOfz4dcmIdt5HN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "OTP Sent, Check your email!!"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_PmcIjYEu7LUVOXzl",
        "category": "General",
        "x": 705,
        "y": 220,
        "wires": [
            [
                "sd_YYzTF387EUsYVKSF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_LDSoMTwx5vuklkci",
        "type": "Navigation",
        "z": "sd_CYkOfz4dcmIdt5HN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/verify-code",
        "functionName": "sd_LDSoMTwx5vuklkci",
        "category": "Navigation",
        "x": 925,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_nCQTEX5HqE8Oa6g5",
        "type": "PageCallService",
        "z": "sd_CYkOfz4dcmIdt5HN",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_otGe0ZttRfKuTfoN",
            "type": "tab",
            "createdDate": "2024-08-19T08:44:29.280Z",
            "label": "otp",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_09Bm08p2OwW8ujPC",
            "flowName": "otpService"
        },
        "inputVariables": [
            {
                "key": "otp_code",
                "map": true,
                "valueType": "bh",
                "value": "result.OTP"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/otp",
        "startName": "otpService",
        "inputParams": [
            "bh.result.OTP"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_nCQTEX5HqE8Oa6g5",
        "category": "General",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "sd_00lFbMVZ7E4x2qZw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_YYzTF387EUsYVKSF",
        "type": "Storage",
        "z": "sd_CYkOfz4dcmIdt5HN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "bh",
            "value": "result"
        },
        "resultMapping": {},
        "functionName": "sd_YYzTF387EUsYVKSF",
        "category": "Storage",
        "x": 805,
        "y": 220,
        "wires": [
            [
                "sd_LDSoMTwx5vuklkci"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    }
]
