designs/pages/Authentication/register.json
[
    {
        "id": "sd_uqB8Ta19yPAqB9Xq",
        "type": "tab",
        "createdDate": "2024-08-16T11:30:17.229Z",
        "label": "register",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_XNtrphGkAEvTnJkY",
        "type": "OnInit",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_XNtrphGkAEvTnJkY",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_21M8r6uomCRnf45y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_7K2noVNldq6MAAbT",
        "type": "PageVariables",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "showBeneficaryForm2",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "showDependencyForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "counter",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "showDependencyForm1",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "hideIcon",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "hideIcon2",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            }
        ],
        "functionName": "sd_7K2noVNldq6MAAbT",
        "category": "Function",
        "x": 265,
        "y": 40,
        "wires": [
            [
                "sd_qjesZ9T9zyxXQtfe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_21M8r6uomCRnf45y",
        "type": "UseDependency",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_21M8r6uomCRnf45y",
        "category": "Function",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "sd_7K2noVNldq6MAAbT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_qjesZ9T9zyxXQtfe",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.fileForm = new FormGroup({\n    _id: new FormControl(\"\"),\n    filename: new FormControl(\"\"),\n    chunkSize: new FormControl(\"\"),\n    length: new FormControl(\"\"),\n})\n\npage.beneficaryForm = new FormGroup({\n    firstName: new FormControl(\"\", [Validators.required]),\n    lastName: new FormControl(\"\", [Validators.required]),\n    email: new FormControl(\"\", [Validators.required, Validators.email]),\n    gender: new FormControl(\"\", [Validators.required]),\n    idNumber: new FormControl(\"\", [Validators.required, Validators.maxLength(13), Validators.minLength(13)]),\n    cellphone: new FormControl(\"\", [Validators.required]),\n    relationship: new FormControl(\"\", [Validators.required]),\n})\n\npage.beneficaryForm2 = new FormGroup({\n    firstName: new FormControl(\"\", [Validators.required]),\n    lastName: new FormControl(\"\", [Validators.required]),\n    email: new FormControl(\"\", [Validators.required, Validators.email]),\n    gender: new FormControl(\"\", [Validators.required]),\n    idNumber: new FormControl(\"\", [Validators.required, Validators.maxLength(13), Validators.minLength(13)]),\n    cellphone: new FormControl(\"\", [Validators.required]),\n    relationship: new FormControl(\"\", [Validators.required]),\n})\n\npage.dependencyForm = new FormGroup({\n    firstName: new FormControl(\"\", [Validators.required]),\n    lastName: new FormControl(\"\", [Validators.required]),\n    gender: new FormControl(\"\", [Validators.required]),\n    idNumber: new FormControl(\"\", [Validators.required, Validators.maxLength(13), Validators.minLength(13)]),\n})\n\npage.dependencyForm2 = new FormGroup({\n    firstName: new FormControl(\"\", [Validators.required]),\n    lastName: new FormControl(\"\", [Validators.required]),\n    gender: new FormControl(\"\", [Validators.required]),\n    idNumber: new FormControl(\"\", [Validators.required, Validators.maxLength(13), Validators.minLength(13)]),\n})\n\npage.dependencyForm3 = new FormGroup({\n    firstName: new FormControl(\"\", [Validators.required]),\n    lastName: new FormControl(\"\", [Validators.required]),\n    gender: new FormControl(\"\", [Validators.required]),\n    idNumber: new FormControl(\"\", [Validators.required, Validators.maxLength(13), Validators.minLength(13)]),\n})\n\npage.clientForm = new FormGroup({\n    firstName: new FormControl(\"\", [Validators.required]),\n    lastName: new FormControl(\"\", [Validators.required]),\n    email: new FormControl(\"\", [Validators.required, Validators.email]),\n    gender: new FormControl(\"\", [Validators.required]),\n    idNumber: new FormControl(\"\", [Validators.required, Validators.maxLength(13), Validators.minLength(13)]),\n    cellphone: new FormControl(\"\", [Validators.required]),\n    address: new FormControl(\"\", [Validators.required]),\n    packageType: new FormControl(\"\", [Validators.required]),\n    file: page.fileForm\n})\n\npage.package = [\n   {value: 'Package 1', viewValue: 'Package 1'},\n   {value: 'Package 2', viewValue: 'Package 2'},\n   {value: 'Package 3', viewValue: 'Package 3'}\n];\n\npage.genders = [\n   {value: 'Male', viewValue: 'Male'},\n   {value: 'Female', viewValue: 'Female'}\n];",
        "functionName": "sd_qjesZ9T9zyxXQtfe",
        "category": "Function",
        "x": 365,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_4jpHOcBeJ9oMy5gC",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "upload",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "upload",
        "category": "General",
        "x": 45,
        "y": 180,
        "wires": [
            [
                "sd_l6SiwAtJD0vilMVM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_l6SiwAtJD0vilMVM",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.upload = document.getElementById('upload') as HTMLInputElement;\n  if (bh.upload) {\n   bh.upload.addEventListener('change', (event: Event) => {\n    const input = event.target as HTMLInputElement;\n    if (input.files && input.files.length > 0) {\n       bh.file =  input.files[0]\n       page.uploadedFile = new FormData()\n       page.uploadedFile.append('file', bh.file)\n       this.goToBackend()\n    }\n  })\n}\n",
        "functionName": "sd_l6SiwAtJD0vilMVM",
        "category": "Function",
        "x": 180,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_4yeHIdvBwIqJ34hG",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "showBeneficaryForm2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showBeneficaryForm2",
        "category": "General",
        "x": 65,
        "y": 340,
        "wires": [
            [
                "sd_78h5y7Mch4eGS5T9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_78h5y7Mch4eGS5T9",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showBeneficaryForm2 = true\npage.hideIcon = false",
        "functionName": "sd_78h5y7Mch4eGS5T9",
        "category": "Function",
        "x": 205,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_ZIboZ8CwblF94SEp",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "showDependencyForm2",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showDependencyForm2",
        "category": "General",
        "x": 65,
        "y": 440,
        "wires": [
            [
                "sd_NscpuoQXRbfmWzVJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_NscpuoQXRbfmWzVJ",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showDependencyForm = true\npage.counter++\nif(page.counter == 2) {\n    page.showDependencyForm1 = true\n    page.hideIcon2 = false\n}",
        "functionName": "sd_NscpuoQXRbfmWzVJ",
        "category": "Function",
        "x": 205,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_mfn5TNjxg1EDrkux",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "confirm",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "confirm",
        "category": "General",
        "x": 365,
        "y": 400,
        "wires": [
            [
                "sd_5FvUEd3TbUxOODvU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_5FvUEd3TbUxOODvU",
        "type": "Environment",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_5FvUEd3TbUxOODvU",
        "category": "General",
        "x": 485,
        "y": 400,
        "wires": [
            [
                "sd_lL2rQ9BIoBqeZaCn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_lL2rQ9BIoBqeZaCn",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.clientForm.value.file._id = page.userFile._id\npage.clientForm.value.file.filename = page.userFile.filename\npage.clientForm.value.file.length = page.userFile.length\npage.clientForm.value.file.chunkSize = page.userFile.chunkSize\n\nbh.url = page.ssdUrl + 'register'\n\nbh.body = page.clientForm.value\nbh.body.beneficaries = [page.beneficaryForm.value, page.beneficaryForm2.value]\nbh.body.dependencies = [page.dependencyForm.value, page.dependencyForm2.value, page.dependencyForm3.value]\n\nconsole.log(\"form\", bh.body)\n",
        "functionName": "sd_lL2rQ9BIoBqeZaCn",
        "category": "Function",
        "x": 585,
        "y": 400,
        "wires": [
            [
                "sd_feAbYysgRL7fgGGm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_RqtM6SLXw5cveimP",
        "type": "Environment",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_RqtM6SLXw5cveimP",
        "category": "General",
        "x": 385,
        "y": 140,
        "wires": [
            [
                "sd_XSPvXcLY8nKgPJZk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_XSPvXcLY8nKgPJZk",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'upload'\n\n",
        "functionName": "sd_XSPvXcLY8nKgPJZk",
        "category": "Function",
        "x": 485,
        "y": 140,
        "wires": [
            [
                "sd_Z0u2uGd5YO9ydjps"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_Z0u2uGd5YO9ydjps",
        "type": "HttpRequest",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.uploadedFile",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "uploadedFile"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_Z0u2uGd5YO9ydjps",
        "category": "HTTP",
        "x": 585,
        "y": 140,
        "wires": [
            [
                "sd_vR3yJnYv3XKsLrq8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_8TYG7d0QanhgKFMo",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goToBackend",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToBackend",
        "category": "General",
        "x": 285,
        "y": 140,
        "wires": [
            [
                "sd_RqtM6SLXw5cveimP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_ZSLYaSB5AEVYwkSZ",
        "type": "PageStart",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getFromBackend",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getFromBackend",
        "category": "General",
        "x": 285,
        "y": 240,
        "wires": [
            [
                "sd_Piy2OPiATT4VA7Dk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_Piy2OPiATT4VA7Dk",
        "type": "Storage",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "file"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userFile"
        },
        "functionName": "sd_Piy2OPiATT4VA7Dk",
        "category": "Storage",
        "x": 385,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_vR3yJnYv3XKsLrq8",
        "type": "Script",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "sessionStorage.setItem('file',JSON.stringify(bh.result))\nthis.getFromBackend()",
        "functionName": "sd_vR3yJnYv3XKsLrq8",
        "category": "Function",
        "x": 685,
        "y": 140,
        "wires": [
            [
                "sd_em3ylD24zJZE2On9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_em3ylD24zJZE2On9",
        "type": "SnackBar",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Upload Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_em3ylD24zJZE2On9",
        "category": "General",
        "x": 785,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_feAbYysgRL7fgGGm",
        "type": "HttpRequest",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_feAbYysgRL7fgGGm",
        "category": "HTTP",
        "x": 705,
        "y": 400,
        "wires": [
            [
                "sd_QnaW4yCDpoY9Cu3b"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_QnaW4yCDpoY9Cu3b",
        "type": "SnackBar",
        "z": "sd_uqB8Ta19yPAqB9Xq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Client Registered"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_QnaW4yCDpoY9Cu3b",
        "category": "General",
        "x": 820,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    }
]
