designs/pages/Authentication/reset_password.json
[
    {
        "id": "sd_Vd6ueQ2vRcPcpGIO",
        "type": "tab",
        "createdDate": "2024-08-19T08:57:50.988Z",
        "label": "reset_password",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "reset_passwordComponent"
    },
    {
        "id": "sd_AzKiTpPjfoAfEiin",
        "type": "OnInit",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_AzKiTpPjfoAfEiin",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_8Wh6qZngi0Z3LBpn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reset_passwordComponent"
    },
    {
        "id": "sd_8Wh6qZngi0Z3LBpn",
        "type": "PageVariables",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "resetPasswordForm",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{}"
                }
            },
            {
                "textIp": "loading",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "characterCount",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "inputType",
                "typedIpValue": {
                    "type": "str",
                    "value": "password"
                }
            },
            {
                "textIp": "icon",
                "typedIpValue": {
                    "type": "str",
                    "value": "visibility"
                }
            },
            {
                "textIp": "confirmPassType",
                "typedIpValue": {
                    "type": "str",
                    "value": "password"
                }
            },
            {
                "textIp": "confirmIcon",
                "typedIpValue": {
                    "type": "str",
                    "value": "visibility"
                }
            }
        ],
        "functionName": "sd_8Wh6qZngi0Z3LBpn",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_crcaO18Y2ibturmY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_35RD3DUq7Evt0GSA",
        "type": "PageStart",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "pages",
        "nodeType": "start",
        "name": "resetPassword",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "resetPassword",
        "category": "General",
        "x": 40,
        "y": 160,
        "wires": [
            [
                "sd_DkHWNsyx5xolkmas"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reset_passwordComponent"
    },
    {
        "id": "sd_crcaO18Y2ibturmY",
        "type": "Storage",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "dataFromSession"
        },
        "functionName": "sd_crcaO18Y2ibturmY",
        "category": "Storage",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_ZCTBduJbMPkgxcwR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_ZCTBduJbMPkgxcwR",
        "type": "Script",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"_id\", page.dataFromSession._id)",
        "functionName": "sd_ZCTBduJbMPkgxcwR",
        "category": "Function",
        "x": 325,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_89Oli2iDypd98IWc",
        "type": "Environment",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_89Oli2iDypd98IWc",
        "category": "General",
        "x": 505,
        "y": 140,
        "wires": [
            [
                "sd_PiexsvqTOWM62dBX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_PiexsvqTOWM62dBX",
        "type": "Script",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + `reset-password/${page.dataFromSession._id}`\nconsole.log(\"Dataa\", bh.url)\npage.loading = true\ndelete bh.input.form.value.confirmPassword\n",
        "functionName": "sd_PiexsvqTOWM62dBX",
        "category": "Function",
        "x": 585,
        "y": 140,
        "wires": [
            [
                "sd_mgR6ulEmuPpuCjHQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_mgR6ulEmuPpuCjHQ",
        "type": "HttpRequest",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.form.value",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "input.form.value"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_mgR6ulEmuPpuCjHQ",
        "category": "HTTP",
        "x": 665,
        "y": 140,
        "wires": [
            [
                "sd_B6ie9nLiery2kRQr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_iuLRjJ6rgRb5sg8z",
        "type": "SnackBar",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Successfully changed your Password"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_iuLRjJ6rgRb5sg8z",
        "category": "General",
        "x": 825,
        "y": 140,
        "wires": [
            [
                "sd_fCe5uRpgm9JEiv6Z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_fCe5uRpgm9JEiv6Z",
        "type": "Navigation",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/login",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_fCe5uRpgm9JEiv6Z",
        "category": "Navigation",
        "x": 905,
        "y": 140,
        "wires": [
            [
                "sd_JXhJ5aozTOIOXF6H"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_JXhJ5aozTOIOXF6H",
        "type": "Storage",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "clear",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {},
        "value": {},
        "resultMapping": {},
        "functionName": "sd_JXhJ5aozTOIOXF6H",
        "category": "Storage",
        "x": 985,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_B6ie9nLiery2kRQr",
        "type": "Script",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loading = false",
        "functionName": "sd_B6ie9nLiery2kRQr",
        "category": "Function",
        "x": 745,
        "y": 140,
        "wires": [
            [
                "sd_iuLRjJ6rgRb5sg8z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_ObnkNiNQlsFesDUc",
        "type": "PageSwitch",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "input.form.value.password",
        "propertyType": "bh",
        "propertyGv": "bh.input.form.value.password",
        "rules": [
            {
                "t": "eq",
                "v": "input.form.value.confirmPassword",
                "vt": "bh",
                "gv": "bh.input.form.value.confirmPassword"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_ObnkNiNQlsFesDUc",
        "category": "Function",
        "x": 265,
        "y": 200,
        "wires": [
            [
                "sd_koUjCuljGrbje46w"
            ],
            [
                "sd_tu9ddPwVqoteuhlJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_koUjCuljGrbje46w",
        "type": "SnackBar",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Passwords Match!!"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_koUjCuljGrbje46w",
        "category": "General",
        "x": 425,
        "y": 140,
        "wires": [
            [
                "sd_89Oli2iDypd98IWc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_tu9ddPwVqoteuhlJ",
        "type": "SnackBar",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Passwords Don't Match!!"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_tu9ddPwVqoteuhlJ",
        "category": "General",
        "x": 425,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_X2GHVvCOi4npmMn1",
        "type": "PageStart",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "pages",
        "nodeType": "start",
        "name": "count characters",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "e",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "countCharacters",
        "category": "General",
        "x": 45,
        "y": 280,
        "wires": [
            [
                "sd_5u1T3qXyJGc45UDE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reset_passwordComponent"
    },
    {
        "id": "sd_5u1T3qXyJGc45UDE",
        "type": "Script",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.characterCount = bh.input.e.target.value.length;\nbh.input.e.target.value = bh.input.e.target.value.replace(/[^\\d]/g, '')\n\nconsole.log(\"Character\", page.characterCount)",
        "functionName": "sd_5u1T3qXyJGc45UDE",
        "category": "Function",
        "x": 145,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_NL7HNZ3CjYVk4NvE",
        "type": "PageStart",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "pages",
        "nodeType": "start",
        "name": "view password",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "viewPassword",
        "category": "General",
        "x": 45,
        "y": 380,
        "wires": [
            [
                "sd_UTuSKzS27Py5RzFg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reset_passwordComponent"
    },
    {
        "id": "sd_UTuSKzS27Py5RzFg",
        "type": "Script",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(page.inputType == \"password\")\n{\n    page.inputType = \"text\"\n    page.icon = \"visibility_off\"\n}\nelse{\n    page.inputType = \"password\"\n    page.icon = \"visibility\"\n}\n",
        "functionName": "sd_UTuSKzS27Py5RzFg",
        "category": "Function",
        "x": 145,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_XY0pSSMsBz3YQxey",
        "type": "PageStart",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "pages",
        "nodeType": "start",
        "name": "view pass",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "viewPass",
        "category": "General",
        "x": 60,
        "y": 480,
        "wires": [
            [
                "sd_orUAejR5aljJtg1v"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reset_passwordComponent"
    },
    {
        "id": "sd_orUAejR5aljJtg1v",
        "type": "Script",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nif(page.confirmPassType == \"password\")\n{\n    page.confirmPassType = \"text\"\n    page.confirmIcon = \"visibility_off\"\n}\nelse{\n    page.confirmPassType = \"password\"\n    page.confirmIcon = \"visibility\"\n}",
        "functionName": "sd_orUAejR5aljJtg1v",
        "category": "Function",
        "x": 160,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_3vRs5TZ5upE7nkIh",
        "type": "OnChanges",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "common",
        "nodeType": "start",
        "name": "On Changes",
        "functionName": "ngOnChanges",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 580,
        "wires": [
            [
                "sd_QeAT0XeQLZxEPGF6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reset_passwordComponent"
    },
    {
        "id": "sd_QeAT0XeQLZxEPGF6",
        "type": "Script",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Hello\",page.resetPasswordForm)",
        "functionName": "sd_QeAT0XeQLZxEPGF6",
        "category": "Function",
        "x": 180,
        "y": 580,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_DkHWNsyx5xolkmas",
        "type": "PageSwitch",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "input.form.form.status",
        "propertyType": "bh",
        "propertyGv": "bh.input.form.form.status",
        "rules": [
            {
                "t": "eq",
                "v": "INVALID",
                "vt": "str",
                "gv": "\"INVALID\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_DkHWNsyx5xolkmas",
        "category": "Function",
        "x": 125,
        "y": 160,
        "wires": [
            [
                "sd_iGU14hbsOOzOB2Ff"
            ],
            [
                "sd_ObnkNiNQlsFesDUc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_iGU14hbsOOzOB2Ff",
        "type": "SnackBar",
        "z": "sd_Vd6ueQ2vRcPcpGIO",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please fill all required fields"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_iGU14hbsOOzOB2Ff",
        "category": "General",
        "x": 265,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reset_passwordComponent",
        "generated": true
    }
]
