designs/pages/Admin Dashboard/dashboard.json
[
    {
        "id": "sd_5GPzHp6kREM9zmOq",
        "type": "tab",
        "createdDate": "2024-08-16T12:48:51.296Z",
        "label": "dashboard",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_4EgQNEX4lGDSV4H7",
        "type": "OnInit",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_4EgQNEX4lGDSV4H7",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_Fes81ouNq6OVHJG2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_Fes81ouNq6OVHJG2",
        "type": "PageVariables",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "navItem",
                "typedIpValue": {
                    "type": "str",
                    "value": "Home"
                }
            },
            {
                "textIp": "selectedItem",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            }
        ],
        "functionName": "sd_Fes81ouNq6OVHJG2",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_BZk5VYcbok7vTCa5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_6vIzrnwUGbfiq4Y8",
        "type": "Script",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.sideNav = [\n    {label: \"Home\", icon: \"home\", route: \"/dashboard/home\"},\n    {label: \"Claims\", icon: \"description\"},\n    {label: \"Register Client\", icon: \"edit\"},\n    {label: \"Schedules\", icon: \"today\"},\n    {label: \"Reports\", icon: \"folder_open\"},\n   \n]",
        "functionName": "sd_6vIzrnwUGbfiq4Y8",
        "category": "Function",
        "x": 325,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_BZk5VYcbok7vTCa5",
        "type": "UseDependency",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatMenuModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/menu",
        "serviceDesignerType": "pages",
        "functionName": "sd_BZk5VYcbok7vTCa5",
        "category": "Function",
        "x": 240,
        "y": 40,
        "wires": [
            [
                "sd_6vIzrnwUGbfiq4Y8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    },
    {
        "id": "sd_daPh54ERMYaeDgOn",
        "type": "PageStart",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "nav items",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "index",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "navItems",
        "category": "General",
        "x": 60,
        "y": 200,
        "wires": [
            [
                "sd_MzHFd7vzx5yvrY4O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "dashboardComponent"
    },
    {
        "id": "sd_MzHFd7vzx5yvrY4O",
        "type": "Script",
        "z": "sd_5GPzHp6kREM9zmOq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.navItem = bh.input.index.label",
        "functionName": "sd_MzHFd7vzx5yvrY4O",
        "category": "Function",
        "x": 145,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "dashboardComponent",
        "generated": true
    }
]
