designs/pages/Admin Dashboard/home.json
[
    {
        "id": "sd_o4ikLTEW12PcNWYL",
        "type": "tab",
        "createdDate": "2024-08-18T19:15:05.395Z",
        "label": "home",
        "disabled": false,
        "info": "",
        "functionSeq": 6,
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_1t0DhsI5kAmqEWqm",
        "type": "OnInit",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_1t0DhsI5kAmqEWqm",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_lu9ZRRD821iOeI1F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_XAIP7JuvVAj0wF4F",
        "type": "PageVariables",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData.paginator",
                "typedIpValue": {
                    "type": "bh",
                    "value": "pageViews.MatPaginator"
                }
            },
            {
                "textIp": "tableData.sort",
                "typedIpValue": {
                    "type": "bh",
                    "value": "pageViews.MatSort"
                }
            },
            {
                "textIp": "backupapplicationsDatasource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_XAIP7JuvVAj0wF4F",
        "category": "Function",
        "x": 805,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_spTRV34Jpqa8LdXM",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// bh.local.dataSource = new MatTableDataSource(page.table);\n// this.page.tableData = new MatTableDataSource(this.page.table);",
        "functionName": "sd_eJuzOUTYKNgXaqdz_1",
        "category": "Function",
        "x": 745,
        "y": 40,
        "wires": [
            [
                "sd_XAIP7JuvVAj0wF4F"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_pC5QoH5IEuEP1VZe",
        "type": "AfterViewInit",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "ngAfterViewInit",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 180,
        "wires": [
            [
                "sd_yXzumKKxSbYco4AV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_yXzumKKxSbYco4AV",
        "type": "ViewPicker",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatSort"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_xKCCTWKzvgDN0rx7_1",
        "category": "Function",
        "x": 205,
        "y": 180,
        "wires": [
            [
                "sd_8gLYlYJxO77ugSE3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_8gLYlYJxO77ugSE3",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.table.sort = this.MatSort;",
        "functionName": "sd_2VNGqvcKee34lvOz_1",
        "category": "Function",
        "x": 345,
        "y": 180,
        "wires": [
            [
                "sd_j9NHkoiSeBkcAAoX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_j9NHkoiSeBkcAAoX",
        "type": "ViewPicker",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "MatPaginator"
                },
                "defaultValue": "MatPaginator",
                "isViewChildren": false
            },
            {
                "key": {
                    "type": "literal",
                    "value": "MatSort"
                },
                "defaultValue": "MatSort",
                "isViewChildren": false
            }
        ],
        "functionName": "sd_xKCCTWKzvgDN0rx7_3",
        "category": "Function",
        "x": 445,
        "y": 180,
        "wires": [
            [
                "sd_n4SpLejeJimyp45K"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_n4SpLejeJimyp45K",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.table.paginator = this.MatPaginator;",
        "functionName": "sd_2VNGqvcKee34lvOz_3",
        "category": "Function",
        "x": 565,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_SqQamlbgHC0CMDv2",
        "type": "Environment",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_SqQamlbgHC0CMDv2",
        "category": "General",
        "x": 445,
        "y": 40,
        "wires": [
            [
                "sd_7gioBFKVWHaZ95Yw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_7gioBFKVWHaZ95Yw",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"get-users\"",
        "functionName": "sd_7gioBFKVWHaZ95Yw",
        "category": "Function",
        "x": 505,
        "y": 40,
        "wires": [
            [
                "sd_RRKQV3ETWYI7Umxb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_RRKQV3ETWYI7Umxb",
        "type": "HttpRequest",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_RRKQV3ETWYI7Umxb",
        "category": "HTTP",
        "x": 585,
        "y": 40,
        "wires": [
            [
                "sd_sQz2RUgYmK2eNRYZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_sQz2RUgYmK2eNRYZ",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.tableDataSource = page.result.filter((user:any) =>{\nreturn    user.role == \"client\"\n})\n\npage.table = bh.tableDataSource \npage.backupapplicationsDatasource = page.table;",
        "functionName": "sd_sQz2RUgYmK2eNRYZ",
        "category": "Function",
        "x": 665,
        "y": 40,
        "wires": [
            [
                "sd_spTRV34Jpqa8LdXM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_lu9ZRRD821iOeI1F",
        "type": "PageVariables",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "tableData",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "dataSource"
                }
            },
            {
                "textIp": "table",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "searchValue",
                "typedIpValue": {
                    "type": "literal",
                    "value": "''"
                }
            },
            {
                "textIp": "backupapplicationsDatasource",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "currentUser",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_E9QbOlnVduPNV5MO_1",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_MVMh0WBg4s6QqZUr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_26B83wPaElPthlwe",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (!page.backupapplicationsDatasource) {\n    page.backupapplicationsDatasource = [...page.table];\n}\n\nconst searchValue = (bh.input.filterEvent.target as HTMLInputElement).value.trim().toLowerCase();\npage.searchValue = searchValue;\n\nif (searchValue) {\n    const searchResults = page.backupapplicationsDatasource.filter((row) => {\n        return (\n            (row.firstName && row.firstName.toLowerCase().includes(searchValue)) ||\n            (row.lastName && row.lastName.toLowerCase().includes(searchValue)) ||\n            (row.policyNumber && row.policyNumber.toString().toLowerCase().includes(searchValue)) ||  // Convert policyNumber to string\n            (row.packageType && row.packageType.toLowerCase().includes(searchValue))\n        );\n    });\n    page.table = searchResults;\n} else {\n    // Reset to original data if search value is empty\n    page.table = [...page.backupapplicationsDatasource];\n}\n",
        "functionName": "sd_iBlFYTlpoczCmWts_5",
        "category": "Function",
        "x": 205,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_c9oNeYPHHXzRmfhx",
        "type": "PageStart",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "onFilter",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "filterEvent",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onFilter",
        "category": "General",
        "x": 60,
        "y": 280,
        "wires": [
            [
                "sd_26B83wPaElPthlwe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_k3j5KbTZTS6UvlPT",
        "type": "PageStart",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "cards_filter",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "plan",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "cardsFilter",
        "category": "General",
        "x": 65,
        "y": 360,
        "wires": [
            [
                "sd_cDHK0KhL1bspOFcv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_cDHK0KhL1bspOFcv",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n    if (!page.backupapplicationsDatasource) {\n        page.backupapplicationsDatasource = [...page.table];\n    }\n\n    const filteredResults = page.backupapplicationsDatasource.filter((row) => {\n        return row.packageType && row.packageType.toLowerCase() === bh.input.plan.toLowerCase();\n    });\n\n    page.table = filteredResults;\n\n",
        "functionName": "sd_cDHK0KhL1bspOFcv",
        "category": "Function",
        "x": 140,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_MVMh0WBg4s6QqZUr",
        "type": "UseDependency",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [],
        "import_all": false,
        "library": "@angular/material/paginator",
        "serviceDesignerType": "pages",
        "functionName": "sd_MVMh0WBg4s6QqZUr",
        "category": "Function",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_AaiqwUb7HgzTfDeh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_QYLl0HiQxcsEa5Ab",
        "type": "Storage",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_QYLl0HiQxcsEa5Ab",
        "category": "Storage",
        "x": 155,
        "y": 472.8020935058594,
        "wires": [
            [
                "sd_UyjiAEcafE2dIIEu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_yUD6QIZheJgtSbWK",
        "type": "PageStart",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "fetchLoggedInUser",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "fetchLoggedInUser",
        "category": "General",
        "x": 70,
        "y": 472.8020935058594,
        "wires": [
            [
                "sd_QYLl0HiQxcsEa5Ab"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_UyjiAEcafE2dIIEu",
        "type": "Log",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.user",
        "functionName": "sd_UyjiAEcafE2dIIEu",
        "category": "General",
        "x": 235,
        "y": 472.8020935058594,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "user",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_AaiqwUb7HgzTfDeh",
        "type": "Storage",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_AaiqwUb7HgzTfDeh",
        "category": "Storage",
        "x": 285,
        "y": 40,
        "wires": [
            [
                "sd_KFeCUX7cJpIWGtaF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_KFeCUX7cJpIWGtaF",
        "type": "Script",
        "z": "sd_o4ikLTEW12PcNWYL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.currentUser = Object.keys(page.user).map(key => {\n//     return { key: key, value: page.user[key] };\n// });\n\npage.currentUser = page.user\n\n console.log(\"page user\" , page.currentUser)\n console.log(\"bene\",page.currentUser.beneficaries);",
        "functionName": "sd_KFeCUX7cJpIWGtaF",
        "category": "Function",
        "x": 365,
        "y": 40,
        "wires": [
            [
                "sd_SqQamlbgHC0CMDv2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    }
]
