designs/pages/Landing/contact_us.json
[
    {
        "id": "sd_YuwrB9kbk8y0g2BR",
        "type": "tab",
        "createdDate": "2024-08-18T20:25:10.987Z",
        "label": "contact_us",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "contact_usComponent"
    },
    {
        "id": "sd_hd5ID4SyAIDQ6ziH",
        "type": "OnInit",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_hd5ID4SyAIDQ6ziH",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_iNYxRsu8lErBTFfW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "contact_usComponent"
    },
    {
        "id": "sd_UJhEms9XJlOq7Ybs",
        "type": "PageVariables",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "isScrolled",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "loader",
                "typedIpValue": {
                    "type": "bh",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_UJhEms9XJlOq7Ybs",
        "category": "Function",
        "x": 245,
        "y": 40,
        "wires": [
            [
                "sd_D4WnzTN0EiFEzzs2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "contact_usComponent",
        "generated": true
    },
    {
        "id": "sd_T4TpJcBpCObCC90t",
        "type": "HostListener",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "outputs": 1,
        "eventName": "\"document:wheel\"",
        "functionName": "sd_T4TpJcBpCObCC90t",
        "category": "Listener",
        "x": 185,
        "y": 200,
        "wires": [
            [
                "sd_Rbe49ktoIz9qSgrZ"
            ]
        ],
        "__ssdTypeInputs__": {
            "eventName": {
                "type": "str",
                "value": "document:wheel",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "contact_usComponent"
    },
    {
        "id": "sd_Rbe49ktoIz9qSgrZ",
        "type": "Script",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log(\"check\", bh.input.event)\n// console.log(\"w\", window)\nconsole.log(\"p\",page.isScrolled)\nif( window.scrollY > 1){\n    console.log(\"moved\", window.scrollY)\n    // page.toolbar.classList.add('scrolled');\n    page.isScrolled = true\n} else{\n    page.isScrolled = false\n}",
        "functionName": "sd_Rbe49ktoIz9qSgrZ",
        "category": "Function",
        "x": 265,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "contact_usComponent",
        "generated": true
    },
    {
        "id": "sd_D4WnzTN0EiFEzzs2",
        "type": "Script",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\npage.formContact = new FormGroup({\n    email:new FormControl(\"\",[Validators.required, Validators.pattern(/^[^\\s@]+@([^\\s@.,]+\\.)+[^\\s@.,]{2,}$/)]),\n    cellPhone:new FormControl(\"\",[Validators.required , Validators.maxLength(10) ,Validators.minLength(10), Validators.pattern(/^0(6|7|8){1}[0-9]{1}[0-9]{7}$/)]),\n    title:new FormControl(\"\"),\n    message:new FormControl(\"\",Validators.required)\n})",
        "functionName": "sd_D4WnzTN0EiFEzzs2",
        "category": "Function",
        "x": 325,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "contact_usComponent",
        "generated": true
    },
    {
        "id": "sd_iNYxRsu8lErBTFfW",
        "type": "UseDependency",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControlName",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_iNYxRsu8lErBTFfW",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_UJhEms9XJlOq7Ybs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "contact_usComponent",
        "generated": true
    },
    {
        "id": "sd_ApSpYIma5PeptqEU",
        "type": "PageStart",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "pages",
        "nodeType": "start",
        "name": "send message",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "sendMessage",
        "category": "General",
        "x": 65,
        "y": 340,
        "wires": [
            [
                "sd_nGFKFjLdJumHKzuI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "contact_usComponent"
    },
    {
        "id": "sd_nGFKFjLdJumHKzuI",
        "type": "Script",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Form of contact us\",page.formContact.invalid)",
        "functionName": "sd_nGFKFjLdJumHKzuI",
        "category": "Function",
        "x": 145,
        "y": 340,
        "wires": [
            [
                "sd_88fZOmalHjiMZPqO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "contact_usComponent",
        "generated": true
    },
    {
        "id": "sd_EIrEnueVaA5tIDVX",
        "type": "Environment",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_EIrEnueVaA5tIDVX",
        "category": "General",
        "x": 325,
        "y": 380,
        "wires": [
            [
                "sd_pno9V6rSOhsgflTA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "contact_usComponent",
        "generated": true
    },
    {
        "id": "sd_pno9V6rSOhsgflTA",
        "type": "Script",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'send-message'\npage.loader = true",
        "functionName": "sd_pno9V6rSOhsgflTA",
        "category": "Function",
        "x": 405,
        "y": 380,
        "wires": [
            [
                "sd_0OoQ61HMv4DdUhlx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "contact_usComponent",
        "generated": true
    },
    {
        "id": "sd_0OoQ61HMv4DdUhlx",
        "type": "HttpRequest",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.formContact.value",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "formContact.value"
        },
        "resultMapping": "this.page.results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_0OoQ61HMv4DdUhlx",
        "category": "HTTP",
        "x": 485,
        "y": 380,
        "wires": [
            [
                "sd_0V4RBAmL1MP1XOzC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "contact_usComponent",
        "generated": true
    },
    {
        "id": "sd_0V4RBAmL1MP1XOzC",
        "type": "Script",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Sent message\", page.results)\npage.formContact.reset()\npage.loader = false",
        "functionName": "sd_0V4RBAmL1MP1XOzC",
        "category": "Function",
        "x": 565,
        "y": 380,
        "wires": [
            [
                "sd_0CO7LXCCjcyRhTGJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "contact_usComponent",
        "generated": true
    },
    {
        "id": "sd_88fZOmalHjiMZPqO",
        "type": "PageSwitch",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "formContact.invalid",
        "propertyType": "this.page",
        "propertyGv": "this.page.formContact.invalid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_88fZOmalHjiMZPqO",
        "category": "Function",
        "x": 225,
        "y": 340,
        "wires": [
            [
                "sd_Dpc1pJSwsHY8XYAM"
            ],
            [
                "sd_EIrEnueVaA5tIDVX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "contact_usComponent",
        "generated": true
    },
    {
        "id": "sd_Dpc1pJSwsHY8XYAM",
        "type": "SnackBar",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please fill all required fields"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_Dpc1pJSwsHY8XYAM",
        "category": "General",
        "x": 320,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "contact_usComponent",
        "generated": true
    },
    {
        "id": "sd_0CO7LXCCjcyRhTGJ",
        "type": "SnackBar",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Enquiry successfully sent"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_0CO7LXCCjcyRhTGJ",
        "category": "General",
        "x": 660,
        "y": 380,
        "wires": [
            [
                "sd_0Yx53dxzhkmbNNcf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "contact_usComponent",
        "generated": true
    },
    {
        "id": "sd_0Yx53dxzhkmbNNcf",
        "type": "Navigation",
        "z": "sd_YuwrB9kbk8y0g2BR",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/DOAServices",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_0Yx53dxzhkmbNNcf",
        "category": "Navigation",
        "x": 760,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "contact_usComponent",
        "generated": true
    }
]
