designs/pages/Client/clientDasbhoard.json
[
    {
        "id": "sd_zR5UHotIY1e70yEH",
        "type": "tab",
        "createdDate": "2024-08-27T12:33:49.243Z",
        "label": "clientDasbhoard",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "clientDasbhoardComponent"
    },
    {
        "id": "sd_C84EzFuQLOc7Ay9z",
        "type": "OnInit",
        "z": "sd_zR5UHotIY1e70yEH",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_C84EzFuQLOc7Ay9z",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_bAvzTsY9PtbZGAd9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "clientDasbhoardComponent"
    },
    {
        "id": "sd_bAvzTsY9PtbZGAd9",
        "type": "UseDependency",
        "z": "sd_zR5UHotIY1e70yEH",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "MatMenuModule",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/material/menu",
        "serviceDesignerType": "pages",
        "functionName": "sd_bAvzTsY9PtbZGAd9",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_TpHSdwI2PToOajmB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "clientDasbhoardComponent",
        "generated": true
    },
    {
        "id": "sd_TpHSdwI2PToOajmB",
        "type": "PageCallService",
        "z": "sd_zR5UHotIY1e70yEH",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_zR5UHotIY1e70yEH",
            "type": "tab",
            "createdDate": "2024-08-27T12:33:49.243Z",
            "label": "clientDasbhoard",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_SS1Hp8pDGm5GJhPO",
            "flowName": "fetchLoggedInUser"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "fetchLoggedInUser",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_TpHSdwI2PToOajmB",
        "category": "General",
        "x": 345,
        "y": 40,
        "wires": [
            [
                "sd_tw2Gv2IcebnfHypQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "clientDasbhoardComponent",
        "generated": true
    },
    {
        "id": "sd_tw2Gv2IcebnfHypQ",
        "type": "PageVariables",
        "z": "sd_zR5UHotIY1e70yEH",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "navItem",
                "typedIpValue": {
                    "type": "str",
                    "value": "Home"
                }
            },
            {
                "textIp": "selectedItem",
                "typedIpValue": {
                    "type": "literal",
                    "value": "0"
                }
            },
            {
                "textIp": "name",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "user.firstName"
                }
            },
            {
                "textIp": "surname",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "user.lastName"
                }
            }
        ],
        "functionName": "sd_tw2Gv2IcebnfHypQ",
        "category": "Function",
        "x": 425,
        "y": 40,
        "wires": [
            [
                "sd_KhTwW46eG3z76W1L"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "clientDasbhoardComponent",
        "generated": true
    },
    {
        "id": "sd_KhTwW46eG3z76W1L",
        "type": "PageCallService",
        "z": "sd_zR5UHotIY1e70yEH",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_zR5UHotIY1e70yEH",
            "type": "tab",
            "createdDate": "2024-08-27T12:33:49.243Z",
            "label": "clientDasbhoard",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_VnU30ITVqDgcgx4o",
            "flowName": "getInitials"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "getInitials",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "sd_KhTwW46eG3z76W1L",
        "category": "General",
        "x": 505,
        "y": 40,
        "wires": [
            [
                "sd_gTpAdpgdhVuSsnsk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "clientDasbhoardComponent",
        "generated": true
    },
    {
        "id": "sd_gTpAdpgdhVuSsnsk",
        "type": "Script",
        "z": "sd_zR5UHotIY1e70yEH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.sideNav = [\n    {label: \"Plan details\", icon: \"description\", route: \"/plan-details\"},\n    {label: \"Payment History\", icon: \"edit\", route:\"/payment-history\"},\n    {label: \"Claims\", icon: \"today\", route: \"/claims\"},\n]\n",
        "functionName": "sd_gTpAdpgdhVuSsnsk",
        "category": "Function",
        "x": 585,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "clientDasbhoardComponent",
        "generated": true
    },
    {
        "id": "sd_HIVVI0lWlBnXLDKq",
        "type": "PageStart",
        "z": "sd_zR5UHotIY1e70yEH",
        "viewType": "pages",
        "nodeType": "start",
        "name": "nav items",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "index",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "navItems",
        "category": "General",
        "x": 45,
        "y": 200,
        "wires": [
            [
                "sd_OBeE6JyxXZbYRb71"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "clientDasbhoardComponent"
    },
    {
        "id": "sd_OBeE6JyxXZbYRb71",
        "type": "Script",
        "z": "sd_zR5UHotIY1e70yEH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.navItem = bh.input.index.label",
        "functionName": "sd_OBeE6JyxXZbYRb71",
        "category": "Function",
        "x": 130,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "clientDasbhoardComponent",
        "generated": true
    },
    {
        "id": "sd_ZKiBWGzTMiuxequ8",
        "type": "Storage",
        "z": "sd_zR5UHotIY1e70yEH",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_ZKiBWGzTMiuxequ8",
        "category": "Storage",
        "x": 330,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "clientDasbhoardComponent",
        "generated": true
    },
    {
        "id": "sd_SS1Hp8pDGm5GJhPO",
        "type": "PageStart",
        "z": "sd_zR5UHotIY1e70yEH",
        "viewType": "pages",
        "nodeType": "start",
        "name": "fetchLoggedInUser",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "fetchLoggedInUser",
        "category": "General",
        "x": 245,
        "y": 200,
        "wires": [
            [
                "sd_ZKiBWGzTMiuxequ8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "clientDasbhoardComponent"
    },
    {
        "id": "sd_VnU30ITVqDgcgx4o",
        "type": "PageStart",
        "z": "sd_zR5UHotIY1e70yEH",
        "viewType": "pages",
        "nodeType": "start",
        "name": "getInitials",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "getInitials",
        "category": "General",
        "x": 45,
        "y": 300,
        "wires": [
            [
                "sd_DGRVLYYk7tZskvqn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "clientDasbhoardComponent"
    },
    {
        "id": "sd_DGRVLYYk7tZskvqn",
        "type": "Script",
        "z": "sd_zR5UHotIY1e70yEH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.name = (page.user.firstName?.charAt(0) || '').toUpperCase();\npage.surname = (page.user.lastName?.charAt(0) || '').toUpperCase();",
        "functionName": "sd_DGRVLYYk7tZskvqn",
        "category": "Function",
        "x": 130,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "clientDasbhoardComponent",
        "generated": true
    }
]
